.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1); /* Légèrement transparent */
    color: #333;
    font-size: 14px;
}