.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1); /* Légèrement transparent */
    color: #333;
    font-size: 14px;
}

.responsive-image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.centered-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Permet un meilleur centrage */
}

.pochaevsk-regular {
    font-family: "Pochaevsk", serif;
    font-weight: 400;
    font-style: normal;
  }

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px; 
}

/* Centrer les en-têtes du tableau */
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.small-table th, .small-table td {
    width: 150px; /* Ajustez selon vos besoins */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.small-table {
    font-size: 12px; 
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separator hr {
    width: 40%;
    border: 1px solid black;
    margin: 0;
}

.separator .dot {
    width: 10px; /* Taille du point */
    height: 10px;
    background-color: #003366; /* Bleu foncé */
    border-radius: 50%; /* Cercle parfait */
    margin: 0 10px; /* Espacement avec la ligne */
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.bg-1 { background-color: #ff5733; } /* Rouge */
.bg-2 { background-color: #33c3ff; } /* Bleu */
.bg-3 { background-color: #33ff77; } /* Vert */
.bg-4 { background-color: #ff33e1; } /* Rose */