.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1); /* Légèrement transparent */
    color: #333;
    font-size: 14px;
}

.responsive-image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.centered-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Permet un meilleur centrage */
}

.pochaevsk-regular {
    font-family: "Pochaevsk", serif;
    font-weight: 400;
    font-style: normal;
  }

h2 {
    text-align: center;
    margin-bottom: 20px;
}
/* Centrer le tableau */
.table-container {
    display: flex;
    justify-content: center;
}
/* Centrer les en-têtes du tableau */
th {
    text-align: center !important;
    vertical-align: middle !important;
}