<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}  
    <title>{% block title %} TradingView Flask App {% endblock %}</title>
</head>
<body class="container d-flex flex-column min-vh-100">
    {% block content %}{% endblock %}  
    {% include "footer.html" %}     
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
</body>
</html>
