{% extends "base.html" %}

{% block title %} Binance Account Page {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center fw-bold pochaevsk-regular">Binance Account</h2>
        </div>
    </div>
    <div class="container my-3">
        <div class="separator">
            <hr>
            <div class="dot"></div>
            <hr>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <p class="text-center pochaevsk-regular fs-5">Portefeuille</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="table-container table-responsive">
                        <table class="table table-striped table-bordered text-center small-table table-sm">
                            <thead class="table-dark">
                                <tr>
                                    {% for title in titles %}
                                        <th>{{ title }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in df.itertuples(index=False) %}
                                    <tr>
                                        {% for cell in row %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-center pochaevsk-regular">Total : {{ total_usd | round(2) }} $</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <hr style="border: 0.7px solid black;">
                </div>
            </div>
            <div row>
                <div class="col-12">
                    <p class="text-center pochaevsk-regular fs-5">Prix Moyen Pondéré</p>
                    <table class="table table-striped table-bordered text-center small-table table-sm">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">ASSET</th>
                                <th scope="col">PRIX MOYEN PONDERE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ASSET, PMP in dict_wap.items() %}
                            <tr>
                                <td>{{ ASSET[:-4] }}</td>
                                <td>{{ PMP | round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <hr style="border: 0.7px solid black;">
        </div>
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <p class="text-center pochaevsk-regular fs-5">Derniers ordres</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="table-container">
                        <table class="table table-striped table-bordered text-center small-table table-sm">
                            <thead class="table-dark">
                                <tr>
                                    {% for title in titles_order %}
                                        <th>{{ title }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in df_order.itertuples(index=False) %}
                                <tr class="{% if row.STATUS == 'NEW' %}table-success
                                           {% elif row.STATUS == 'CANCELED' %}table-danger{% endif %}">
                                        {% for cell in row %}
                                            <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
