{% extends "base.html" %}

{% block title %} Index Page {% endblock %}

{% block content %}
<div class="container mt-5">
<div class="row">
    <div class="col-12 cell bg-1">Cellule 1</div>
</div>
<div class="row">
    <div class="col-md-3 cell"></div>
    <div class="col-md-6 cell bg-2">Cellule 2</div>
    <div class="col-md-3 cell"></div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-6 cell bg-2">Cellule 2</div>
</div>
<div class="row">
    <div class="col-md-6 cell bg-3">Cellule 3</div>
    <div class="col-md-6 cell bg-4">Cellule 4</div>
</div>
</div>

{% endblock %}